# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
default_language_version:
  python: python3.12
default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
repos:
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: poetry run pylint
    language: system
    types: [python]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-builtin-literals
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-shebang-scripts-are-executable
  - id: pretty-format-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: destroyed-symlinks
  - id: detect-aws-credentials
    args: ["--allow-missing-credentials"]
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
  - id: name-tests-test
  - id: trailing-whitespace
- repo: https://github.com/python-poetry/poetry
  rev: "1.8.0"
  hooks:
  - id: poetry-check
  - id: poetry-lock
  - id: poetry-export
  - id: poetry-install
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3.12
- repo: local
  hooks:
  - id: poetry-bump-patch-version
    name: poetry-bump-patch-version
    entry: sh -c 'poetry version patch "$@"; git add -u' --
    language: system
    always_run: true
    pass_filenames: false
- repo: local
  hooks:
  - id: poetry-build-and-publish
    name: poetry-build-and-publish
    entry: poetry publish --build
    language: system
    always_run: true
    pass_filenames: false
    stages: [pre-push]
